<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true">

    <bean id="myClient" class="ua.epam.spring.core.beans.MyClient">
        <constructor-arg value="1" />
        <constructor-arg value="John Smith "/>
        <!--<constructor-arg type = "java.lang.String" value="2" />-->
        <!--<constructor-arg type = "java.lang.String" value="Valentina Pavlovna"/>-->
    </bean>

    <import resource="loggers.xml"/>

    <bean id="app" class="ua.epam.spring.core.App">
        <constructor-arg ref="myClient"/>
        <constructor-arg ref="event"/>
        <constructor-arg ref="consoleEventLogger"/>
    </bean>

    <bean id="event" scope="prototype" class="ua.epam.spring.core.beans.Event">
         <constructor-arg>
              <bean class="java.util.Date"/>
         </constructor-arg>
        <constructor-arg ref="dateFormat"/>
   </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

</beans>